<div id="mobile-module" class="align-center justify-evenly bg-white w-100  pb-20vh mx-1 mt-3">
    <a href="/hr.html" class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1 ">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-users m-1 font-sxl"></i>
        <span class="module-name">HR / GA</span>
    </a>
    <a href="/ict.html" class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-microchip m-1 font-sxl"></i>
        <span class="module-name">ICT</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-calculator m-1 font-sxl"></i>
        <span class="module-name">Accounting</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-tags m-1 font-sxl"></i>
        <span class="module-name">Sales</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-chart-line m-1 font-sxl"></i>
        <span class="module-name">Marketing</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-coins m-1 font-sxl"></i>
        <span class="module-name">Purchasing</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-money-bill m-1 font-sxl"></i>
        <span class="module-name">Treasury</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-screwdriver-wrench m-1 font-sxl"></i>
        <span class="module-name">Parts & Warehouse</span>
    </a>
    <a class="mobile-module d-flex flex-col justify-center align-center bg-kubota-green white border-rd-normal b-shadow-1 mb-1">
        <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
        <i class="fa-solid fa-helmet-safety m-1 font-sxl"></i>
        <span class="module-name">Service & QA/QC</span>
    </a>
</div>
