<a href="/hr" class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder mx-2">
        <img src="{{ url_for('static', filename='img/hr.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">HR / GA</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/it.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">ICT</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto ">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/accounting.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Accounting</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/sales.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Sales</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/marketing.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Marketing</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/purchasing.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Purchasing</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/treasury.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Treasury</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/spare.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Parts & Warehouse</span>
</a>
<a class="p-relative module d-flex align-center border-rd-normal bg-white mb-1 b-shadow-1 w-95 mx-auto">
    <span class="hover-line p-absolute h-100 bg-kubota-green"></span>
    <div class="img-icon-holder ml-2  mx-2">
        <img src="{{ url_for('static', filename='img/csd.png') }}" class="w-inherit h-inherit">
    </div>
    <span class="module-name my-2 dark">Service & QA/QC</span>
</a>