<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form name="signin">
                <div class="signin">
                    <label class="title">Sign in</label>
                    <div class="field-container">
                        <label class="subtitle">Email Address</label>
                        <div class="input-field">
                            <input >
                        </div>
                    </div>
                </div>
            </form>
            <form name="signup">
                <div class="signup">
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>